@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.card-border {
  border: 2px solid #ccebf7;
  border-radius: 8px;
}
/* Asegurar el fondo y color de los inputs en modo oscuro */
input, select, textarea {
  background-color: white;
  color: black;
  border: 1px solid #ccc;
}

.dark input, .dark select, .dark textarea {
  background-color: #222 !important; /* Fondo oscuro */
  color: white !important; /* Texto claro */
  border: 1px solid #444 !important;
}
